*{
 font-family: 'Plus Jakarta Sans', sans-serif;
 box-sizing: border-box;
 margin:0;
 padding:0;
 border:0;
 text-decoration: none;

}
body{
  background: linear-gradient( rgba(255, 255, 255, 1) 0%,rgba(240,241,255) 100% );
 
}
 .wrapper{
        
    color: rgb(19,24,63);
  
    margin:13px;
   }
 .header{
   display:flex;
   justify-content: space-between;
   align-items: center;
   color:rgb(19,24,63);
   
 }
 .header .logo,.footer .logo
 {
  height:22px;
 }

 .header-btn{
  margin-right:20px;
   border-radius: 28px;
   width:120px;
   height: 42px;
   font-size: 13px;
   line-height: 28px;
   font-weight: bold;
   color:rgb(255, 255, 255);
   background-color: rgb(19,24,63);
 }
 .header-btn:hover{
   background-color: rgb(102,108,163);
   cursor:pointer;
}

h1{
   font-size: 31px;
   font-weight:bolder;
   margin: 38px 0px 25px 0px ;
   
}

.started-btn{
   color:rgb(255, 255, 255);
   width:140px;
   height:45px;
   margin-top:10px;
   border-radius:36px;
   background-image:linear-gradient( rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
   }
   .started-btn:hover{
    cursor: pointer;
    --bg-color-btn:linear-gradient( rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%);
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      var(--bg-color-btn);
   }
 .images-hero{
   background-image: url("./assets/image-hero-mobile.png");  
   background-repeat:no-repeat;
	background-size:cover;
   height: 310px;
   width: 100%;
  }
   .content-1 p{
    color:rgba(131, 134, 154,1);
    font-size: 13px;
 
   
   }
   .container-1{
   color:rgb(255, 255, 255);
   text-align:left;
	font-size:22px;
   border-radius: 15px;
   padding: 22px;
   line-height: 25px;
   font-weight:bolder;
   height: 100px;
   margin-bottom:60px;
   overflow: hidden;
	background-image:linear-gradient(rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
     
}
   
   .content{
      padding:25px;
      display: flex;
     justify-content: space-between;
     background-color: white;
     border-radius:10px;
     margin: 40px 1rem;
     flex-direction: column;
   }
   .content p{
      font-size:11px;
      line-height: 20px;
      color:rgba(131, 134, 154,1);
      font-weight: 100;
    
      
   }

   .content h2{
      color:13183F;
      font-weight:bolder;
      font-size: 20px;  
      margin-top: -25px;
      margin-bottom: 16px;
      line-height: 28px;
   }
   .container_logo{
      position: relative;
      top: -40px;
      display: block;
      width: 56px;
   }
   .content a{
      display: inline-block;
      font-weight: bold;
      color:#F74780;
      line-height: 28px;
      font-size: 18px;
      margin:40px 0 32px 0;
    }
    
    .content a:hover {
      color:#FFA7C3;
    }

    footer{
      background-color:rgb(19,24,63);
      display: flex;
      align-items: center; 
      height:86px;
   
      
    }

    .footer{
      align-items: center; 
      margin:16px;
      display:flex;
      justify-content: space-between;
      width:100%;
    
    }
   .footer-btn{
    margin-right:20px;
    border-radius: 28px;
    width:120px;
    height: 42px;
    font-size: 13px;
    line-height: 28px;
    font-weight: bold;
      color:rgb(255, 255, 255);
      background-image:linear-gradient(0deg, rgba(72, 81, 255, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
   }
   .footer-btn:hover{
      cursor: pointer;
      --bg-start-btn:linear-gradient(0deg, rgba(72, 81, 255, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
      background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        var(--bg-start-btn);
     }

     @media(min-width: 481px){
      .wrapper{
       position: relative;
       overflow: hidden;
       margin-right: 0;
      }
      .header,.container{
         margin-left:45px;
      }
      .images-hero{
         background-image: url("./assets/image-hero-tablet.png");
         background-repeat:no-repeat;
         position: absolute;
	       background-size:cover;
         width: 300px;
          height: 400px;
          top:50px;
         right:-80px;
         
      }
      
      .header-btn
      {
         z-index: 1000;
      }
      .started-btn{
        margin-top: 20px;
        height:43px;
      }
      .container{
         align-items: center;
         
         width: 45%;
         margin-top: 5rem;
         margin-bottom: 10rem;
         overflow-x: hidden;
       }
      .container-1{
        height:250px;
         padding: 56px 32px;
       }
       .content-1 h1{
         font-size: 36px;
         line-height: 33px;
         margin-top: 0px;
         margin-bottom: 20px;
       }
       .content .link{
        margin-top: 0;
        margin-bottom:5px;
       }
       .content-1 p,.content p
       {
         font-size: 13px;
   
       }
       .content-1 p{
        margin-bottom: 10px;
       }
       .content{
        height:250px;
        width: 100%;
       margin-top:0px;
       
       }
      
       .section-2{
         width: 90%;
         height: 980px;
         display: grid;
         grid-template: repeat(3, 30%)/1fr 1fr;
         gap: 32px 15px;
         margin-left:20px;
          }   
     
      }
      @media (min-width:630px){
        .images-hero{
          background-image: url("./assets/image-hero-tablet.png");
          background-repeat:no-repeat;
          position: absolute;
       background-size:cover;
        width: 450px;
         height: 450px;
         top:0px;
          right:-140px;
       }
      }
       @media(min-width:1001px){  
        
              .section-1{
                height: 90vh;
              }
         
         .container{
          height: 100vh;
         }
         .images-hero {
            
            background-image: url(./assets/image-hero-desktop@2x.png);
            background-repeat: no-repeat;
            background-position: bottom left;
            position: absolute;
            top: 80px;
            right: 0;
            width: 30%;
            height: 75vh;  
          

         }
          
          
          .content p{
            font-size: 20px;
            line-height: 23px;
          
          }
          .content .link{
            margin-top: 0px;
           
            
          }
          .content-1 p{
            font-size: 25px;
            line-height: 25px;
            
          }
          .started-btn{
            margin-top: 50px;
            width:180px;
            height:59px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
          }
          .header{
            margin:12px 64px 12px 64px;
           
          }
   
          .content-1 h1 {
            font-size: 55px;
            line-height: 50px;
            margin-bottom: 20px;
          }
        
          .section-2{
            width: 95%;
            height: 600px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(2, 44%);
            gap: 56px 30px;
            margin-top: 0px;
            margin-bottom: 100px;
          }
          
          .container-1{
            height:250px;
            font-size: 30px;
            line-height:40px ;
            padding-top: 65px;
          }
          .content .link{
            margin-top: 0;
            margin-bottom:-12px;
           }
          
         
        
          .footer{
            width: 80%;
            margin:12px 64px 12px 64px;
            
          }   
         
         }
     
  